<!DOCTYPE html>
<html>
<head>
    <title>Eccentric Guru</title>
    <script src="/media/{{ media['main.js'] }}"></script>
    <link rel="stylesheet" href="/media/{{ media['main.css'] }}" />
</head>
<body>
    <div id="page-wrap">
    

    <div class="container">
    <div class='row'>
        <div class='col s12'>
            <h1>The eccentric guru</h1>
            <p class="flow-text">
                As you no doubt have will have guessed by this point, this is only barely a site.
                This is really only here because otherwise there would be nothing here, and that would
                be the biggest shame of all.
                An eccentric guru is quite a fun and silly concept, that gives off the feeling that
                perhaps it should be taken seriously.
                And that's what I (the creator of this bit of prose) am presenting myself to be.
                Thank you for reading, and good night.
            </p>
            <p>
                I do have a slight aside, which is that I actually can make real websites, apps, standalone libraries,
                and the like, and if you happen to be in the market for acquiring such a person for your own personal
                interests, I could be persuaded to deviate from my decidedly deviant lifestyle, via contact at the email
                address hidden at the bottom of the screen.
            </p>
        </div>
    </div>
    </div>

    </div>

    <footer class="page-footer indigo lighten-1">
        <ul id="footer-links">
            <li class="grey-text text-lighten-3">
                &copy 2018 eccentric.guru
            </li>
            <li class="grey-text text-lighten-3">
                <a class="grey-text text-lighten-3"
                    href="https://www.linkedin.com/in/sean-mccollum-41033627">
                    Linkedin</a>
            </li>
            <li>
                <a class="grey-text text-lighten-3"
                    href="mailto:anincrediblyshortname@gmail.com" 
                    target="_blank">anincrediblyshortname@gmail.com</a>
            </li>
        </ul>
    </footer>
</body>
</html>
